In [ ]:
# Install required dependencies 

!pip install -r requirments.txt

In [38]:
# import necessary dependencies
from pyspark.sql import SparkSession
from sqlalchemy import create_engine
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
import os

## Data Extraction

In [ ]:
# initializing a spark session

spark = SparkSession.builder.appName("BankTransactionETL").getOrCreate()

In [5]:
# spark standalone 
spark

In [6]:
# Extract data 
# inferSchema=True ; helps infer data types of the schema
bank_df = spark.read.csv("/Users/villy/Documents/GitHub/DE/data/raw/bank_transactions.csv", header=True, inferSchema=True)

bank_df.show()

+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|   3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|               NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|   Miguel Leonard|262 Beck Expressw...|                NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
|2024-02-10 22:56:...|764.34|        Transfer|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|       501851472974|                NULL|          ZWD|         NULL|       B|    Z|      Yes|2023-02-18 19:26:...|                NULL| Other|       Married|
|2024-04-07 00:07:...|734.59|         Deposit|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|    X|      Yes|2020-10-27 16:48:...|Standard prepare ...|  Male|          NULL|
|2024-03-08 01:51:...|592.43|         Deposit|       Kelly Ruiz|                NULL|          New Lauren|          NULL|                NULL|                NULL|Medical laborator...|  iestes@example.org| 495.430.4276x42618|      4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|    X|       No|2022-11-19 08:59:...|                NULL|Female|        Single|
|2024-04-02 06:21:...|472.35|        Transfer|             NULL|1467 Heather Vill...|         Conniemouth|          NULL|               Macao|Ellis, Smith and ...|Television/film/v...|rebeccarodriguez@...|       511.666.5891|      4884893247570|GB91HQDO449272193...|          LTL|       2721.0|    NULL|    Z|       No|                NULL|Leg out walk rece...| Other|          NULL|
|2024-02-01 12:34:...| 927.1|         Deposit|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|                NULL|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|    X|       No|2020-08-31 20:40:...|Notice paper son ...|Female|        Single|
|2024-03-22 16:46:...| 66.59|        Transfer|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|          NULL|            Cameroon|         Carroll LLC|                NULL|                NULL|       670-499-0309|    213171934267032|GB05MHXA361278613...|          BAM|       3958.0|    NULL| NULL|      Yes|2022-09-19 03:52:...|He wish soldier t...|  Male|        Single|
|2024-04-23 13:30:...| 246.3|      Withdrawal|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|                NULL|     Sales executive|  eric64@example.net|               NULL|    342940028197162|GB54HHLQ489156729...|          ZWD|       8312.0|    NULL|    Z|      Yes|2023-06-02 04:34:...|This speak buildi...|  Male|      Divorced|
|2024-04-24 20:44:...| 17.74|        Transfer|        Ryan Rice|63191 Carol River...|       North Heather|      Virginia|               Gabon|     Arnold-Hamilton|Biomedical scientist|gonzalestammy@exa...|      (891)958-6442|   4263644221766495|GB47BGNG208602249...|          AOA|       6148.0|       D|    Y|       No|                NULL|Camera spring tea...|Female|          NULL|
|2024-02-23 05:48:...|640.74|      Withdrawal|   Danielle Young| 8484 Kelley Circles|           Karahaven|    New Jersey|            Dominica|        Fox and Sons|Operational inves...| maria62@example.net|               NULL|       675908517708|GB92DFSO760691881...|          TJS|         NULL|       B|    Z|      Yes|                NULL|Occur second offe...|Female|       Married|
|2024-01-13 01:22:...|782.32|      Withdrawal|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|Lynch, Hayes and ...|       Stage manager|stewartjames@exam...|  680-460-3674x6031|   4304956118653227|GB15VYWJ018711823...|          NIO|       2502.0|       B|    Y|      Yes|2021-04-12 20:23:...|Rest theory serve...|  NULL|       Married|
|2024-02-25 15:16:...|818.42|      Withdrawal|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|           Green Ltd|Psychologist, pri...|                NULL|       695-680-5744|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C| NULL|       No|2023-07-09 08:03:...|Program sense arm...|  Male|          NULL|
|2024-01-01 20:55:...|352.23|      Withdrawal|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|                NULL|Designer, blown g...|  mark84@example.com| 484.837.6166x81262|     30287519972043|GB62WWAH360646956...|          VUV|       2251.0|       C|    Z|      Yes|2022-02-07 00:48:...|Prepare other los...|Female|        Single|
|2024-01-19 00:01:...|316.19|      Withdrawal|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|     Morris-Reynolds|          Podiatrist|robert02@example.com| 623.219.7997x39012|   3555463260975431|GB28XTGC966091493...|          PHP|       2208.0|       C|    Y|      Yes|2023-10-16 00:05:...|Blood painting sp...| Other|       Married|
|2024-04-09 14:40:...|662.26|      Withdrawal|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|         Sutton-Owen|   Financial planner|ewilliams@example...|               NULL|   6517022443907149|GB64TDZA391035546...|          GNF|         NULL|       C|    X|      Yes|2022-04-21 21:43:...|Station professio...| Other|       Married|
|2024-04-15 04:58:...|893.73|         Deposit|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|         Brown Group|Nutritional thera...|suzanne41@example...|       448-821-0207|   3564854271916761|GB58VVHN678787830...|          AED|       2546.0|       B|    Y|      Yes|2021-09-14 07:15:...|Letter hand soldi...| Other|       Married|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 20 rows

In [7]:
bank_df.show()

+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|   3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|               NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|   Miguel Leonard|262 Beck Expressw...|                NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
|2024-02-10 22:56:...|764.34|        Transfer|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|       501851472974|                NULL|          ZWD|         NULL|       B|    Z|      Yes|2023-02-18 19:26:...|                NULL| Other|       Married|
|2024-04-07 00:07:...|734.59|         Deposit|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|    X|      Yes|2020-10-27 16:48:...|Standard prepare ...|  Male|          NULL|
|2024-03-08 01:51:...|592.43|         Deposit|       Kelly Ruiz|                NULL|          New Lauren|          NULL|                NULL|                NULL|Medical laborator...|  iestes@example.org| 495.430.4276x42618|      4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|    X|       No|2022-11-19 08:59:...|                NULL|Female|        Single|
|2024-04-02 06:21:...|472.35|        Transfer|             NULL|1467 Heather Vill...|         Conniemouth|          NULL|               Macao|Ellis, Smith and ...|Television/film/v...|rebeccarodriguez@...|       511.666.5891|      4884893247570|GB91HQDO449272193...|          LTL|       2721.0|    NULL|    Z|       No|                NULL|Leg out walk rece...| Other|          NULL|
|2024-02-01 12:34:...| 927.1|         Deposit|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|                NULL|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|    X|       No|2020-08-31 20:40:...|Notice paper son ...|Female|        Single|
|2024-03-22 16:46:...| 66.59|        Transfer|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|          NULL|            Cameroon|         Carroll LLC|                NULL|                NULL|       670-499-0309|    213171934267032|GB05MHXA361278613...|          BAM|       3958.0|    NULL| NULL|      Yes|2022-09-19 03:52:...|He wish soldier t...|  Male|        Single|
|2024-04-23 13:30:...| 246.3|      Withdrawal|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|                NULL|     Sales executive|  eric64@example.net|               NULL|    342940028197162|GB54HHLQ489156729...|          ZWD|       8312.0|    NULL|    Z|      Yes|2023-06-02 04:34:...|This speak buildi...|  Male|      Divorced|
|2024-04-24 20:44:...| 17.74|        Transfer|        Ryan Rice|63191 Carol River...|       North Heather|      Virginia|               Gabon|     Arnold-Hamilton|Biomedical scientist|gonzalestammy@exa...|      (891)958-6442|   4263644221766495|GB47BGNG208602249...|          AOA|       6148.0|       D|    Y|       No|                NULL|Camera spring tea...|Female|          NULL|
|2024-02-23 05:48:...|640.74|      Withdrawal|   Danielle Young| 8484 Kelley Circles|           Karahaven|    New Jersey|            Dominica|        Fox and Sons|Operational inves...| maria62@example.net|               NULL|       675908517708|GB92DFSO760691881...|          TJS|         NULL|       B|    Z|      Yes|                NULL|Occur second offe...|Female|       Married|
|2024-01-13 01:22:...|782.32|      Withdrawal|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|Lynch, Hayes and ...|       Stage manager|stewartjames@exam...|  680-460-3674x6031|   4304956118653227|GB15VYWJ018711823...|          NIO|       2502.0|       B|    Y|      Yes|2021-04-12 20:23:...|Rest theory serve...|  NULL|       Married|
|2024-02-25 15:16:...|818.42|      Withdrawal|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|           Green Ltd|Psychologist, pri...|                NULL|       695-680-5744|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C| NULL|       No|2023-07-09 08:03:...|Program sense arm...|  Male|          NULL|
|2024-01-01 20:55:...|352.23|      Withdrawal|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|                NULL|Designer, blown g...|  mark84@example.com| 484.837.6166x81262|     30287519972043|GB62WWAH360646956...|          VUV|       2251.0|       C|    Z|      Yes|2022-02-07 00:48:...|Prepare other los...|Female|        Single|
|2024-01-19 00:01:...|316.19|      Withdrawal|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|     Morris-Reynolds|          Podiatrist|robert02@example.com| 623.219.7997x39012|   3555463260975431|GB28XTGC966091493...|          PHP|       2208.0|       C|    Y|      Yes|2023-10-16 00:05:...|Blood painting sp...| Other|       Married|
|2024-04-09 14:40:...|662.26|      Withdrawal|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|         Sutton-Owen|   Financial planner|ewilliams@example...|               NULL|   6517022443907149|GB64TDZA391035546...|          GNF|         NULL|       C|    X|      Yes|2022-04-21 21:43:...|Station professio...| Other|       Married|
|2024-04-15 04:58:...|893.73|         Deposit|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|         Brown Group|Nutritional thera...|suzanne41@example...|       448-821-0207|   3564854271916761|GB58VVHN678787830...|          AED|       2546.0|       B|    Y|      Yes|2021-09-14 07:15:...|Letter hand soldi...| Other|       Married|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 20 rows

In [8]:
# investigate the schema
bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [9]:
# row count, data count
bank_df.count()

1000000

In [10]:
# number of column 
len(bank_df.columns)

23

In [11]:
bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [12]:
# checking for null values
for column in bank_df.columns:
    print(column, 'Nulls', bank_df.filter(bank_df[column].isNull()).count())

Transaction_Date Nulls 0

Amount Nulls 0

Transaction_Type Nulls 0

Customer_Name Nulls 100425

Customer_Address Nulls 100087

Customer_City Nulls 100034

Customer_State Nulls 100009

Customer_Country Nulls 100672

Company Nulls 100295

Job_Title Nulls 99924

Email Nulls 100043

Phone_Number Nulls 100524

Credit_Card_Number Nulls 100085

IBAN Nulls 100300

Currency_Code Nulls 99342

Random_Number Nulls 99913

Category Nulls 100332

Group Nulls 100209

Is_Active Nulls 100259

Last_Updated Nulls 100321

Description Nulls 100403

Gender Nulls 99767

Marital_Status Nulls 99904

In [13]:
# Fillna in respect to data type
bank_df_clean = bank_df.fillna({
    'Customer_Name':'Unknown',
    'Customer_Address' : 'Unknown',
    'Customer_City':'Unknown',
    'Customer_State':'Unknown',
    'Customer_Country':'Unknown',
    'Company':'Unknown',
    'Job_Title':'Unknown',
    'Email':'Unknown',
    'Phone_Number':'Unknown',
    'Credit_Card_Number':0,
    'IBAN':'Unknown',
    'Currency_Code':'Unknown',
    'Random_Number':0.0,
    'Category':'Unknown',
    'Group':'Unknown',
    'Is_Active':'Unknown',
    'Description':'Unknown',
    'Gender':'Unknown',
    'Marital_Status':'Unknown'
})

In [14]:
from pyspark.sql.functions import col, count, when

#inspect columns with null
bank_df_clean.select([count(when(col(c).isNull(), c)).alias(c) for c in bank_df_clean.columns]).show()

+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
|Transaction_Date|Amount|Transaction_Type|Customer_Name|Customer_Address|Customer_City|Customer_State|Customer_Country|Company|Job_Title|Email|Phone_Number|Credit_Card_Number|IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|Last_Updated|Description|Gender|Marital_Status|
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
|               0|     0|               0|            0|               0|            0|             0|               0|      0|        0|    0|           0|                 0|   0|            0|            0|       0|    0|        0|      100321|          0|     0|             0|
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+

In [15]:
#drop 'Last_Updated' column . it is about 10% of the whole data
bank_df_clean = bank_df_clean.dropna(subset=['Last_Updated'])

# check null value to verify changes
bank_df_clean.filter(col("Last_Updated").isNull()).show()

+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
|Transaction_Date|Amount|Transaction_Type|Customer_Name|Customer_Address|Customer_City|Customer_State|Customer_Country|Company|Job_Title|Email|Phone_Number|Credit_Card_Number|IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|Last_Updated|Description|Gender|Marital_Status|
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+

In [16]:
#inspect columns with null
bank_df_clean.select([count(when(col(c).isNull(), c)).alias(c) for c in bank_df_clean.columns]).show()

+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
|Transaction_Date|Amount|Transaction_Type|Customer_Name|Customer_Address|Customer_City|Customer_State|Customer_Country|Company|Job_Title|Email|Phone_Number|Credit_Card_Number|IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|Last_Updated|Description|Gender|Marital_Status|
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+
|               0|     0|               0|            0|               0|            0|             0|               0|      0|        0|    0|           0|                 0|   0|            0|            0|       0|    0|        0|           0|          0|     0|             0|
+----------------+------+----------------+-------------+----------------+-------------+--------------+----------------+-------+---------+-----+------------+------------------+----+-------------+-------------+--------+-----+---------+------------+-----------+------+--------------+

In [17]:
# row count, data count
bank_df_clean.count()

899679

In [18]:
# explore summary statistics of the data
bank_df_clean.describe().show()

24/06/23 12:49:53 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|       899679|            899679|             899679|              899679|              899679|              899679|       899679|           899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927123|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750533...|                NULL|         NULL|4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev| 285.7945343300485|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|2.3068371038619423E9|1.189655005733000...|                NULL|         NULL|2966.543401151591|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|            Unknown|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|              0.0|       A|Unknown|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|    Zoe Young|             Unknown|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|             Unknown| 4999984361512569455|             Unknown|          ZWD|           9999.0| Unknown|      Z|      Yes|Yourself young ev...|Unknown|       Unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+

# Build Data Model

In [19]:
bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [20]:
bank_df_clean.show()

+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+-------+--------------+
|    Transaction_Date|Amount|Transaction_Type|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description| Gender|Marital_Status|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+-------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|Benson, Johnson a...|             Unknown|             Unknown|  493.720.6609x7545|   3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|      Z|       No|2020-06-20 03:04:...|Yeah food anythin...|  Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|             Unknown|   Food technologist|michellelynch@exa...|      (497)554-3317|                  0|GB03KFZR339662263...|          VEF|       2122.0|       B|      Z|  Unknown|2020-12-27 13:23:...|Teach edge make n...| Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|      Z|       No|2020-01-24 01:23:...|Again line face c...|  Other|       Unknown|
|2024-04-17 15:29:...|407.15|         Deposit|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|      Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|Unknown|       Unknown|
|2024-02-10 01:51:...|161.31|         Deposit|   Miguel Leonard|262 Beck Expressw...|             Unknown| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|            Unknown|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|      Y|       No|2022-01-22 19:08:...|Husband find ok w...| Female|       Married|
|2024-02-10 22:56:...|764.34|        Transfer|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|       501851472974|             Unknown|          ZWD|          0.0|       B|      Z|      Yes|2023-02-18 19:26:...|             Unknown|  Other|       Married|
|2024-04-07 00:07:...|734.59|         Deposit|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|      X|      Yes|2020-10-27 16:48:...|Standard prepare ...|   Male|       Unknown|
|2024-03-08 01:51:...|592.43|         Deposit|       Kelly Ruiz|             Unknown|          New Lauren|       Unknown|             Unknown|             Unknown|Medical laborator...|  iestes@example.org| 495.430.4276x42618|      4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|      X|       No|2022-11-19 08:59:...|             Unknown| Female|        Single|
|2024-02-01 12:34:...| 927.1|         Deposit|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|             Unknown|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|      X|       No|2020-08-31 20:40:...|Notice paper son ...| Female|        Single|
|2024-03-22 16:46:...| 66.59|        Transfer|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|       Unknown|            Cameroon|         Carroll LLC|             Unknown|             Unknown|       670-499-0309|    213171934267032|GB05MHXA361278613...|          BAM|       3958.0| Unknown|Unknown|      Yes|2022-09-19 03:52:...|He wish soldier t...|   Male|        Single|
|2024-04-23 13:30:...| 246.3|      Withdrawal|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|             Unknown|     Sales executive|  eric64@example.net|            Unknown|    342940028197162|GB54HHLQ489156729...|          ZWD|       8312.0| Unknown|      Z|      Yes|2023-06-02 04:34:...|This speak buildi...|   Male|      Divorced|
|2024-01-13 01:22:...|782.32|      Withdrawal|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|Lynch, Hayes and ...|       Stage manager|stewartjames@exam...|  680-460-3674x6031|   4304956118653227|GB15VYWJ018711823...|          NIO|       2502.0|       B|      Y|      Yes|2021-04-12 20:23:...|Rest theory serve...|Unknown|       Married|
|2024-02-25 15:16:...|818.42|      Withdrawal|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|           Green Ltd|Psychologist, pri...|             Unknown|       695-680-5744|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C|Unknown|       No|2023-07-09 08:03:...|Program sense arm...|   Male|       Unknown|
|2024-01-01 20:55:...|352.23|      Withdrawal|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|             Unknown|Designer, blown g...|  mark84@example.com| 484.837.6166x81262|     30287519972043|GB62WWAH360646956...|          VUV|       2251.0|       C|      Z|      Yes|2022-02-07 00:48:...|Prepare other los...| Female|        Single|
|2024-01-19 00:01:...|316.19|      Withdrawal|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|     Morris-Reynolds|          Podiatrist|robert02@example.com| 623.219.7997x39012|   3555463260975431|GB28XTGC966091493...|          PHP|       2208.0|       C|      Y|      Yes|2023-10-16 00:05:...|Blood painting sp...|  Other|       Married|
|2024-04-09 14:40:...|662.26|      Withdrawal|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|         Sutton-Owen|   Financial planner|ewilliams@example...|            Unknown|   6517022443907149|GB64TDZA391035546...|          GNF|          0.0|       C|      X|      Yes|2022-04-21 21:43:...|Station professio...|  Other|       Married|
|2024-04-15 04:58:...|893.73|         Deposit|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|         Brown Group|Nutritional thera...|suzanne41@example...|       448-821-0207|   3564854271916761|GB58VVHN678787830...|          AED|       2546.0|       B|      Y|      Yes|2021-09-14 07:15:...|Letter hand soldi...|  Other|       Married|
|2024-04-12 14:32:...|746.22|      Withdrawal|      Sarah Brown|    4645 Smith Drive|        Arellanobury|   Mississippi|             Mayotte|         Scott Group|     Games developer|sullivandiane@exa...|(643)844-2202x42284|   4208689195351269|GB50PNSL835125216...|          TND|          0.0|       A|      Z|       No|2022-04-09 05:14:...|Any draw fast soc...|  Other|       Married|
|2024-02-26 14:43:...|214.77|      Withdrawal|    Michael Brown|94463 Novak Turnp...|        North Robert|       Unknown|             Somalia|Bryant, Huffman a...|Research scientis...|elliserica@exampl...|   214-650-4477x630|    213112163828334|GB50TJFN039979307...|          SVC|       7382.0|       B|      Z|      Yes|2020-01-19 18:19:...|Great evening so ...|  Other|       Married|
|2024-01-17 14:50:...|726.94|      Withdrawal|     Tamara Clark|   4902 Torres Ports|        Bridgesmouth|     Tennessee|        Turkmenistan|          Palmer PLC|             Unknown|annerice@example.com|  (528)927-0111x373|        60430636658|GB86TNQV819996269...|          HTG|       9638.0|       B|      X|      Yes|2022-12-17 17:06:...|Throw fill attent...|   Male|      Divorced|
+--------------------+------+----------------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [21]:
# transaction table 
transaction_dim = bank_df_clean.select('Transaction_Date',
 'Amount',
 'Transaction_Type')

In [22]:
# adding transaction_id column using monotonycally increasing id function
transaction_dim = transaction_dim.withColumn('transaction_id', monotonically_increasing_id())

# re-arrange 
transaction_dim = transaction_dim.select('transaction_id','Amount','Transaction_Type','Transaction_Date')
transaction_dim.show(3)

+--------------+------+----------------+--------------------+
|transaction_id|Amount|Transaction_Type|    Transaction_Date|
+--------------+------+----------------+--------------------+
|             0| 34.76|      Withdrawal|2024-03-23 15:38:...|
|             1|163.92|      Withdrawal|2024-04-22 19:15:...|
|             2|386.32|      Withdrawal|2024-04-12 19:46:...|
+--------------+------+----------------+--------------------+
only showing top 3 rows

In [23]:
# customer table
# adding distinct when pulling the data optimise the table by reducing redundancy

customer_dim = bank_df_clean.select('Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country').distinct()
customer_dim = customer_dim.withColumn('customer_id', monotonically_increasing_id())
customer_dim = customer_dim.select('customer_id','Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country')
customer_dim.show(3)

+-----------+----------------+--------------------+-------------+--------------+--------------------+
|customer_id|   Customer_Name|    Customer_Address|Customer_City|Customer_State|    Customer_Country|
+-----------+----------------+--------------------+-------------+--------------+--------------------+
|          0|     Jamie Dixon|0146 Veronica Mou...|    Jonesland|      Delaware|        Saint Martin|
|          1|Jennifer Kennedy|     388 Susan Forks|   East Jason|          Ohio|United States of ...|
|          2|     Susan Green|40609 Amber Junct...|     Markfort|      Colorado|       Liechtenstein|
+-----------+----------------+--------------------+-------------+--------------+--------------------+
only showing top 3 rows

In [24]:
# employee table
 
employee_dim = bank_df_clean.select('Company','Job_Title', 'Gender','Marital_Status').distinct()
employee_dim = employee_dim.withColumn('employee_id', monotonically_increasing_id())
employee_dim = employee_dim.select('employee_id','Job_Title','Company','Gender','Marital_Status')
employee_dim.show(3)

+-----------+-------------------+--------------------+------+--------------+
|employee_id|          Job_Title|             Company|Gender|Marital_Status|
+-----------+-------------------+--------------------+------+--------------+
|          0|            Unknown|         Price Group|  Male|        Single|
|          1|Trade mark attorney|Rhodes, King and ...|  Male|       Unknown|
|          2|    Engineer, water|Schmidt, Morgan a...|Female|        Single|
+-----------+-------------------+--------------------+------+--------------+
only showing top 3 rows

In [25]:
# bank_df_fact table 

bank_df_fact = bank_df_clean.join(customer_dim, ['Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country'], 'left') \
                            .join(transaction_dim, ['Amount','Transaction_Type','Transaction_Date'], 'left') \
                            .join(employee_dim, ['Job_Title', 'Gender','Marital_Status'], 'left')\
                            .select('transaction_id','customer_id','employee_id','Credit_Card_Number','IBAN','Currency_Code','Random_Number','Category','Group','Is_Active','Last_Updated','Description')

bank_df_fact.show(5)

+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|             4|25769849583|        740|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|
|             4|25769849583|      10374|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|
|             4|25769849583|      14518|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|
|             4|25769849583|      27525|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|
|             4|25769849583|      28972|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
only showing top 5 rows

In [26]:
bank_df_fact.show()

+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|   25769803786|17180087600|        536|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|       2606|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|       5859|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|       9773|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|       9919|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      23811|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      31291|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      34232|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      37820|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      45730|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      56657|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      57429|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      59635|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      69185|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      73225|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|      88704|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|     109910|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|     120196|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|     137012|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
|   25769803786|17180087600|     154949|  3553538220664415|GB17CKDS252816135...|          SZL|       8710.0|       D|    Y|      Yes|2023-07-06 05:44:...|Exist that movie ...|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
only showing top 20 rows

# Loading Data

In [ ]:
# outputing cleaned and transformed data to parquet
# partitioning will optimise query 
bank_df_fact.write.mode('overwrite').partitionBy('transaction_id').parquet(r'data/processed/bank_df_fact')
transaction_dim.write.mode('overwrite').parquet(r'data/processed/transaction_dim')
employee_dim.write.mode('overwrite').parquet(r'data/processed/employee_dim')
customer_dim.write.mode('overwrite').parquet(r'data/processed/customer_dim')

In [ ]:
# outputing to a csv file 
# repartitioning 

bank_df_fact.repartition(3)write.mode('overwrite').option('header', 'true').csv(r'data/processed/bank_df_fact')
transaction_dim.repartition(3)write.mode('overwrite').option('header', 'true').csv(r'data/processed/transaction_dim')
employee_dim.repartition(3)write.mode('overwrite').option('header', 'true').csv(r'data/processed/employee_dim')
customer_dim.repartition(3)write.mode('overwrite').option('header', 'true').csv(r'data/processed/customer_dim')

In [32]:
import os
print(os.getcwd())

/Users/villy/Documents/GitHub/Bank-Data-Processing-with-PySpark

In [ ]:
# converting spark DataFrame to Pandas DataFrame
bank_df_fact_df = bank_df_fact.toPandas()
transaction_dim_df = transaction_dim.toPandas()
employee_dim_df = employee_dim.toPandas()
customer_dim_df = customer_dim.toPandas()

In [ ]:
# Loading to database

# Retrieve Azure SQL Database credentials from environment variables
sql_user = os.getenv("az_user")
sql_password = os.getenv("az_password")

# Azure SQL Database connection properties
sql_url = "jdbc:sqlserver://ridwanclouds.database.windows.net:1433;database=bankdb"
sql_properties = {
    "user": sql_user,
    "password": sql_password,
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# Write the DataFrame to Azure SQL Database
bank_df_fact_df.write.mode("overwrite").jdbc(url=sql_url, table="dbo.bank_df_fact", properties=sql_properties)
transaction_dim.write.mode("overwrite").jdbc(url=sql_url, table="dbo.transaction_dim", properties=sql_properties)
customer_dim.write.mode("overwrite").jdbc(url=sql_url, table="dbo.customer_dim", properties=sql_properties)
employee_dim.write.mode("overwrite").jdbc(url=sql_url, table="dbo.employee_dim", properties=sql_properties)